<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<body>
  <h1>Welcome to the Dashboard, <%= user.displayName %></h1>
  <h3>Links to other websites:</h3>
  <ul>
    <li><a href="https://youtube.com">Website 1</a></li>
    <li><a href="http://localhost:3002/auth/google" target="_blank">Website 2</a></li>
  </ul>
  <a href="/logout">Logout</a>
</body>
</html>
