body{
    background-color: black;
}
h1{
    color: white;
    display: flex;
    justify-content: center;
}
.div1{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 20%;
   
}
.login{
    text-decoration: none;
    font-size: large;
    color: rgb(29, 25, 237);
    border: 2px black solid;
    border-radius: 10%;
    padding: 10px 10px;
    background-color: dimgray;
}